<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speequal</title>

    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/static/css/speequal.css">

    <script src="/static/js/chartjs-4.4.1.min.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/jquery-ui-1.14.0.min.js"></script>
    <script src="/static/js/speequal.js"></script>
</head>
<body>
    <div id="pageContainer">
        <div id="logoContainer">
            <img src="/static/img/logo.png" width="250" alt="Logo" />
            <img src="/static/img/conversation.jpg" width="300" alt="Conversation" />
        </div>
        <div id="controlsContainer">
            <button id="startButton" class="btn btn-green"><i class="fa fa-microphone"></i>Start</button>
            <button id="stopButton" class="btn btn-red"><i class="fa fa-microphone-slash"></i>Stop</button>
            <button id="resetButton" class="btn btn-grey"><i class="fa fa-rotate-left"></i>Reset</button>
            <button id="configButton" class="btn btn-blue"><i class="fa fa-sliders"></i>Settings</button>
        </div>
        <div id="configContainer">
            <h3>Connection settings</h3>
            <p>
                <div>
                    <label for="websocket_server">Websocket Server:</label>
                    <input id="valueWebsocketServer" type="text" name="websocket_server" size="25" value="127.0.0.1:7007"><br/>
                    <span class="configText">
                        Websocket server to stream the audio data to.
                    </span>
                </div>                 
            </p>

            <form id="configForm">
                <h3>Hyperparameters</h3>
                <p>
                    <div>
                        <label for="tau_active">tau_active:</label>
                        <input id="valueTauActive" type="text" name="tau_active" size="3" readonly><br/>
                        <span class="configText">
                            Threshold for detecting active speakers. 
                            This threshold is applied on the maximum value of per-speaker output activation of the local segmentation model.
                        </span>
                    </div>
                    <div class="sliderContainer" id="sliderTauActive"></div>                   
                </p>
                <p>
                    <div>
                        <label for="rho_update">rho_update:</label>
                        <input id="valueRhoUpdate" type="text" name="rho_update" size="3" readonly><br/>
                        <span class="configText">
                            Threshold for considering the extracted embedding when updating the centroid of the local speaker.
                            The centroid to which a local speaker is mapped is only updated if the ratio of speech/chunk duration
                            of a given local speaker is greater than this threshold.
                        </span>
                    </div>
                    <div class="sliderContainer" id="sliderRhoUpdate"></div>
                </p>
                <p>
                    <div>
                        <label for="delta_new">delta_new:</label>
                        <input id="valueDeltaNew" type="text" name="delta_new" size="3" readonly><br/>       
                        <span class="configText">
                            Threshold on the distance between a speaker embedding and a centroid. 
                            If the distance between a local speaker and all centroids is larger than delta_new, 
                            then a new centroid is created for the current speaker.
                        </span>           
                    </div>
                    <div class="sliderContainer" id="sliderDeltaNew"></div>
                </p>   
                <p>
                    <div>
                        <label for="max_speakers">max_speakers:</label>
                        <input id="valueMaxSpeakers" type="text" name="max_speakers" size="3" readonly><br/>
                        <span class="configText">
                            Maximum number of global speakers to track through a conversation.
                        </span>     
                    </div>
                    <div class="sliderContainer" id="sliderMaxSpeakers"></div>
                </p>
                <p>
                    <button id="configUpdateButton" class="btn btn-blue"><i class="fa fa-rotate"></i>Update</button>
                </p>
            </form>
        </div>
        <div id="chartContainer">
            <canvas id="chartjsPieChart"></canvas>
        </div>
    </div>
</body>
</html>